@model IEnumerable<DietsCategory>

<div class="row pb-3">
    @foreach(var diet in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@diet.CategoryName</p>
                            </div>
                            <div>
                                <a asp-action="Details"
                                asp-route-dietId="@diet.Id" class="btn btn-outline-primary bg-gradient border-0 form control">
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>