<style>
    .dietetician-img {
        /*width: 243px; /* Ustaw szerokość obrazków */
        height: 304px; /* Ustaw wysokość obrazków */
        display: block; /* Ustaw obrazki jako bloki, aby można było stosować marginesy */
        margin: 0 auto; /* Wyśrodkuj obrazki poziomo */
    }

    .text-bs-pink {
        color: #e83283;
    }
</style>
<p class="h3 text-white opacity-75 text-uppercase text-center">Nasi dietetycy</p>
<div class="row pb-2">
    <div class="col-lg-3 col-sm-3">
        <div class="row p-2">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow border-top border-5 rounded">
                    <img src="https://media.istockphoto.com/id/1451157865/pl/zdj%C4%99cie/pozytywna-m%C5%82oda-doros%C5%82a-kobieta-pozuj%C4%85ca-w-kuchni.jpg?s=612x612&w=0&k=20&c=O87t_c5qIp43H9DSxhXBX57Ml85PugN7jYo39mBbAG8=" class="card-img-top rounded dietetician-img">
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-white opacity-75 text-center">Ariadna Sowa</p>
                        </div>
                        <div class="pl-1">
                            <p class="card-subtitle text-dark h15 text-center opacity-7">
                                <b>Doświadczenie:</b><br>20 lat<br>
                                <b>Ulubiony przepis:</b><br>Makaron z pietruszkowym pesto<br>
                                <b>Zainteresowania zawodowe:</b><br>Żywienie w chorobach przewodu pokarmowego<br>
                                <b>"Ulubiony" mit dietetyczny:</b><br>Ziemniaki tuczą.<br><br>
                                <b>Kontakt:</b><br><i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> <i class="bi bi-twitter-x"></i><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3">
        <div class="row p-2">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow border-top border-5 rounded">
                    <img src="https://media.istockphoto.com/id/1443075502/pl/zdj%C4%99cie/atrakcyjna-m%C5%82oda-kobieta-u%C5%9Bmiecha-si%C4%99-i-kroi-warzywa-w-swojej-kuchni-zdrowe-od%C5%BCywianie.jpg?s=612x612&w=0&k=20&c=fLnV4qfR-2K2E34n7rdonF5DFEknjlxQQMzklveoGvw=" class="card-img-top rounded dietetician-img">
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-white opacity-75 text-center">Paulina Mimik</p>
                        </div>
                        <div class="pl-1">
                            <p class="card-subtitle h15 text-center text-dark opacity-7">
                                <b>Doświadczenie:</b><br>3 lata<br>
                                <b>Ulubiony przepis:</b><br>Indyjskie curry z soczewicą<br>
                                <b>Zainteresowania zawodowe:</b><br>Wpływ diety na płodność<br>
                                <b>"Ulubiony" mit dietetyczny:</b><br>Chleb i makaron tuczą.<br><br>
                                <b>Kontakt:</b><br><i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> <i class="bi bi-twitter-x"></i><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3">
        <div class="row p-2">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow border-top border-5 rounded">
                    <img src="https://media.istockphoto.com/id/945117178/pl/zdj%C4%99cie/zdrowy-styl-%C5%BCycia-pi%C4%99kna-kaukaska-dziewczyna-w-kuchni-gotowanie-zdrowe-%C5%9Bniadanie.jpg?s=612x612&w=0&k=20&c=lnxFl-XYEl00V_G_FfuwCdPkmQ6TgvuODoOe8-XDd8A=" class="card-img-top rounded dietetician-img">
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-white opacity-75 text-center">Amanda Nowak</p>
                        </div>
                        <div class="pl-1">
                            <p class="card-subtitle h15 text-center text-dark opacity-7">
                                <b>Doświadczenie:</b><br>6 lat<br>
                                <b>Ulubiony przepis:</b><br>Pstrąg z piekarnika z czosnkiem i pietruszką<br>
                                <b>Zainteresowania zawodowe:</b><br>Psychodietetyka<br>
                                <b>"Ulubiony" mit dietetyczny:</b><br>Nie można spożywać owoców.<br><br>
                                <b>Kontakt:</b><br><i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> <i class="bi bi-twitter-x"></i><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3">
        <div class="row p-2">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow border-top border-5 rounded">
                    <img src="https://media.istockphoto.com/id/1289123222/pl/zdj%C4%99cie/pi%C4%99kny-lekarz-pokazuje-owoce-w-biurze.jpg?s=612x612&w=0&k=20&c=GU1n9kv5oz25nFUXy8U2EPM_-01OhzcE_Wbcy93zP-s=" class="card-img-top rounded dietetician-img">
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-white opacity-100 text-center">Sakura Ito</p>
                        </div>
                        <div class="pl-1">
                            <p class="card-subtitle h15 text-center text-dark opacity-7">
                                <b>Doświadczenie:</b><br>2 lata<br>
                                <b>Ulubiony przepis:</b><br>Wegetariańskie gołąbki z soczewicą<br>
                                <b>Zainteresowania zawodowe:</b><br>Prewencja chorób nowotworowych<br>
                                <b>"Ulubiony" mit dietetyczny:</b><br>Nie można jeść po godzinie 18:00.<br><br>
                                <b>Kontakt:</b><br><i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> <i class="bi bi-twitter-x"></i><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>