<style>
    .trainer-img {
        /*width: 243px; /* Ustaw szerokość obrazków */
        height: 304px; /* Ustaw wysokość obrazków */
        display: block; /* Ustaw obrazki jako bloki, aby można było stosować marginesy */
        margin: 0 auto; /* Wyśrodkuj obrazki poziomo */
    }
</style>
<p class="h3 text-white opacity-75 text-uppercase text-center">Nasi Trenerzy</p>
<div class="row pb-2">
    <div class="col-lg-3 col-sm-3">
        <div class="row p-2">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow border-top border-5 rounded">
                    <img src="https://images.pexels.com/photos/3490348/pexels-photo-3490348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top rounded trainer-img">
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Adam Mikołajczak</p>
                        </div>
                        <div class="pl-1">
                            <p class="card-subtitle h12 text-center text-dark opacity-75" ">
                                <b>Doświadczenie:</b><br>5 lat<br>
                                <b>Specjalizacja:</b><br>Trening siłowy i kondycyjny<br>
                                <b>Ulubione ćwiczenie:</b><br>Martwy ciąg<br>
                                <b>Kontakt:</b><br><i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> <i class="bi bi-twitter-x"></i><br>

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3">
        <div class="row p-2">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow border-top border-5 rounded">
                    <img src="https://images.pexels.com/photos/1638324/pexels-photo-1638324.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top rounded trainer-img">
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Adam Mikołajczak</p>
                        </div>
                        <div class="pl-1">
                            <p class="card-subtitle h12 text-center text-dark opacity-75" ">
                                <b>Doświadczenie:</b><br>5 lat<br>
                                <b>Specjalizacja:</b><br>Trening siłowy i kondycyjny<br>
                                <b>Ulubione ćwiczenie:</b><br>Martwy ciąg<br>
                                <b>Kontakt:</b><br><i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> <i class="bi bi-twitter-x"></i><br>

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3">
        <div class="row p-2">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow border-top border-5 rounded">
                    <img src="https://images.pexels.com/photos/20145957/pexels-photo-20145957/free-photo-of-mezczyzna-okulary-sloneczne-model-modelka.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top rounded trainer-img">
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Adam Mikołajczak</p>
                        </div>
                        <div class="pl-1">
                            <p class="card-subtitle h12 text-center text-dark opacity-75" ">
                                <b>Doświadczenie:</b><br>5 lat<br>
                                <b>Specjalizacja:</b><br>Trening siłowy i kondycyjny<br>
                                <b>Ulubione ćwiczenie:</b><br>Martwy ciąg<br>
                                <b>Kontakt:</b><br><i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> <i class="bi bi-twitter-x"></i><br>

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3">
        <div class="row p-2">
            <div class="col-12 p-1">
                <div class="card border-0 p-3 shadow border-top border-5 rounded">
                    <img src="https://images.pexels.com/photos/4324101/pexels-photo-4324101.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top rounded trainer-img">
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Adam Mikołajczak</p>
                        </div>
                        <div class="pl-1">
                            <p class="card-subtitle h12 text-center text-dark opacity-75" ">
                                <b>Doświadczenie:</b><br>5 lat<br>
                                <b>Specjalizacja:</b><br>Trening siłowy i kondycyjny<br>
                                <b>Ulubione ćwiczenie:</b><br>Martwy ciąg<br>
                                <b>Kontakt:</b><br><i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> <i class="bi bi-twitter-x"></i><br>

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>