@model DietsVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
        <h2 class="text-white py-2">@(Model.Diets.Id!=0?"Edytuj":"Dodaj") kategorie diet</h2>
        </div>
    </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
        <input asp-for="Diets.Id" hidden />
        <input asp-for="Diets.ImageUrl" hidden />
        <div class="row">
            <div class="col-10">
                    <div class="border p-3">
                        <div asp-validation-summary="All"></div> <!--bledy walidacji wyskakuja u gory, a nie pod polami-->
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Diets.DietName" type="text" class="form-control border-0 shadow" />
                            <label asp-for="Diets.DietName" class="ms-2"></label>
                            <span asp-validation-for="Diets.DietName" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Diets.Kcal" class="form-control border-0 shadow" />
                            <label asp-for="Diets.Kcal" class=" ms-2"></label>
                            <span asp-validation-for="Diets.Kcal" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Diets.Description" class="ms-2 text-muted"></label>
                            <textarea asp-for="Diets.Description" class="form-control border-0 shadow"></textarea>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Diets.CategoryDietId" class=" ms-2"></label>
                            <select asp-for="Diets.CategoryDietId" asp-items="@Model.DietsCategoryList" class="form-select">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <span asp-validation-for="Diets.CategoryDietId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" class="form-control border-0 shadow" />
                            <label asp-for="Diets.ImageUrl" class=" ms-2"></label>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-3">
                                @if (Model.Diets.Id != 0)
                                {

                                    <button type="submit" class="btn btn-primary form-control">Edytuj</button>
                                }
                                else
                                {

                                    <button type="submit" class="btn btn-primary form-control">Utwórz</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Diets" asp-action="Index" class="btn btn-secondary border form-control">
                                    Wróć do listy
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-2">
                <img src="@Model.Diets.ImageUrl" width="100%"
                style="border-radius:5px; border:1px; solid:#bbb9b9" />
            </div>
        </div>
       
        </form>
    </div>
</div>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}